> P-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。
>`df_customer.query('customer_id.str.endswith("1")')`.head(10)

> P-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。
> `df_customer.query('customer_id.str.endswith("1")').head(10)`

> P-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。
> `df_store.query('address.str.contains("横浜市")')`

> P-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。
>
>`df_customer.query('status_cd.str.contains("[^A-F]")').head(10)`

> P-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。
>
>`df_customer.query('status_cd.str.contains("[1-9]$")').head(10)`

> P-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ
>
>`df_customer.query('status_cd.str.contains("^[A-F]") and status_cd.str.contains("[1-9]$")').head(10)`
>
>別解
>
>`df_customer.query('status_cd.str.contains("^[A-F].*[1-9]$")').head(10)`

> P-016: 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。
>
>`df_store.query('tel_no.str.contains("[0-9]{3}-[0-9]{3}-[0-9]{4}")')`

> P-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。
>
> `df_customer.sort_values(by = "birth_day", ascending = True).head(10)`

> P-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。
>
>`df_customer.sort_values('birth_day', ascending = False).head(10)`

> P-019: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。
>
>df_tmp = pd.concat([df_receipt[['customer_id', 'amount']], df_receipt['amount'].rank(method = 'min', ascending = False)], axis = 1)
>df_tmp.columns = ['customer_id', 'amount', 'amount_ranking']
>df_tmp.sort_values('amount_ranking').head(10)